/*-----footer-----*/

.footer{
	background-color: #f5f7fa;
	padding: 30px;
	text-align: center;
	font-size: 14px;
	color: #847bb9;
}
.footer_txt a{
	margin: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	color: #847bb9;
}