@import url('https://fonts.googleapis.com/css?family=Roboto');
h1, h2, h3{
	font-family: 'Roboto', sans-serif;
	line-height: auto;
}
body{
	font-family: sans-serif;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	display: block;
}

/*-----header-----*/

.header{
	height: 100px;
	background-color: #f9f9f9;
}
.header .conteudo{
	display: flex;
	justify-content: space-between;
}
.icon-menu{
	display: block;
	width:40px;
	height: 40px;
	font-size: 25px;
	background-color: white;
	color: #A9A9A9;
	text-align: center;
	border: 1px solid #C0C0C0;
	border-radius: 4px;
	line-height: 45px;
	margin: 30px 15px;
	cursor: pointer; 
}
/*-----menu-----*/
.nav{
	position: absolute;
	top: 100px;
	right: -100%;
	width: 100%;
	transition: all 0.5s;
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu_link{
	display: block;
	padding: 20px;
	background-color: orange;
	text-decoration: none;
	color: white;
}
.menu_link:hover{
	background-color: white;
	color: #333;
}
.mostrar{
	right: 0;
}
/*-----banner-----*/
.banner{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
	background-image: url(http://www.icolabora.com.br/vagas/imgs/site-hero.jpg);
	background-size: cover;
	width: 100%;
	min-height: 500px;
}
.banner > .conteudo{
	margin-top: 200px;
}
.banner_titulo{
	text-align: center;
	color: #f58a1f;
	letter-spacing: 5px;
	line-height: 60px;
	font-size: 50px;
	margin-bottom: 15px;
}
.banner_paragrafo, .icon-angle{
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #808080;
	margin:15px;
}
.icon-angle{
	display: block;
	font-size: 50px;
	margin-top:60px;
}
.info{
	position: relative;
}

.vagas_titulo{
	text-align: center;
	margin-bottom: 20px;
	color: #808080;
	font-size: 30px;
}
.vagas_texto{
	margin: 30px 20px;
	font-size: 20px;
	text-align: center;
	color: #808080;
	line-height: 25px;
}
.main > .conteudo{
	margin-top: 500px;
}
.artigo{
	margin: 15px;
}
.info_item{
	font-size: 25px;
	color:black;
	line-height: 50px;
}
.info_txt{
	font-size: 13px;
	color: #808080;
	line-height: 25px;
}
.vagas_topicos{
	font-size: 14px;
	color:black;
	line-height: 50px;
}
.topicos_sub{
	font-size: 13px;
	border-left: 1px solid #DCDCDC;
	margin-left: 5px;
	padding: 15px;
	color: #808080;
	line-height: 25px;
	margin: auto;
}
.beneficios{
	background-color: #eee;
	font-size: 13px;
	padding: 20px;
	margin-top: 20px;
}
.candidato_btn{
	padding: 15px 15px;
	width: 300px;
	border: 1px solid orange;
	border-radius: 55px;
	text-decoration: none;
	color: orange;
	text-align: center;
	display: block;
	margin: 20px auto;
}
.candidato_btn:hover{
	background-color: orange;
	color: #fff;
}
.lista_vagas{
	margin: 40px 15px;
	border-top:1px solid #cdcdcd; 
	border-bottom:1px solid #cdcdcd; 
	padding: 30px 0;
}
.vagas_sub{
	font-size: 13px;
	color: #808080;
	line-height: 25px;
}
